<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>

      <title>menu</title>
   </head>
   <body>
      <h1>Select an amount:</h1>
      <form class="" action="/withdraw" method="post">
          <input type="number" name="amount" value="10" readonly>
          <input type="submit" name="submit" value="">
      </form>

      <form class="" action="/withdraw" method="post">
          <input type="number" name="amount" value="20" readonly>
          <input type="submit" name="submit" value="">
      </form>

      <form class="" action="/withdraw" method="post">
          <input type="number" name="amount" value="50" readonly>
          <input type="submit" name="submit" value="">
      </form>

      <form class="" action="/withdraw" method="post">
          <input type="number" name="amount" value="100" readonly>
          <input type="submit" name="submit" value="">
      </form>

      <form class="" action="/withdraw" method="post">
          <input type="number" name="amount" value="200" readonly>
          <input type="submit" name="submit" value="">
      </form>
      <a href="/otherAmount">Other amount</a>
      <a href="/menu">Back</a>
      <a href="/logout">Exit</a>
   </body>
</html>
